/**
  Стилизация блока (компонента) слайдер (slider).
  ================================================================
  Класс "slider"  описывает общие стили для всех слайдеров, которые
  есть на странице, в файле main.scss описываются модификаторы и
  стилизация каждого конкретного слайдера, в зависимости от его
  дизайна.
 */

@import "../vars";
@import "../extensions";

.slider {
  &__wrapper {
    overflow: hidden;
    &::after {
      @extend %clearfix;
    }
  }
  &__navigation {
    position: absolute;
    display: flex;
    align-items: center;
    button {
      @extend %common-sprite;
      position: absolute;
      padding: 0;
      width: 10px;
      height: 45px;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: .5;
      }
    }
  }
  &__next {

  }
  &__prev {

  }
  &__slide-wrapper {
    float: left;

  }
  &__slide {

  }
}