@import "vars";

// Desktop First:
@include media-breakpoint-down(lg) { // @media (max-width: 1199.98px) { ... }
  .slider--reviews_slider {
    .slider {
      &__slide {
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }
  }

  .common-section {
    &__list {
      justify-content: center;
    }
  }

  .our-exhibitors {
    .info-item {
      margin: 15px !important;
    }
  }

}

@media screen and (max-width: 1050px) {
  .main-events {
    .slider--main-slider {
      .slider {
        &__next {
          right: 0;
        }
        &__prev {
          left: -25px;
        }
      }
    }
  }
  .our-clients {
    .slider--clients-slider {
      .slider {
        &__navigation {
          width: 95% !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) { // @media (max-width: 991.98px) { ... }

  .button {
    &--up {
      display: none;
    }
  }

  .main-header {
    .main-menu {
      margin-bottom: 15px;
    }
    .main-menu__list {
      justify-content: center !important;
    }
  }

  .logo, .main-header__submenu, .main-header .btn-wrapper-center {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  .main-events {

  }

  .main-content {
    .info-item {
      margin-bottom: 20px;
    }
  }

  .main-contacts {
    &__delegates-info {
      padding-top: 25px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__list-item {
      width: 50%;
      text-align: center;
    }
  }

  .registration {
    .form-default {
      &__row-item {
        width: 100%;
        .register-form__radio-buttons {
          width: 100%;
          justify-content: center;
        }
      }
      .register-form__label, input[type="text"] {
        width: 50%;
      }
      .btn-wrapper {
        width: 100%;
      }
    }
  }

  .activities-events {
    &__item-image {
      margin-bottom: 20px;
    }
    &__item-image, &__item-description {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

@media screen and (max-width: 840px) {

  .registration {
    .form-default {
      &__row-item {
        flex-wrap: wrap;
      }
      .register-form__label {
        margin-bottom: 10px;
      }
      .register-form__label,
      input[type="text"],
      select,
      .btn-wrapper {
        width: 100% !important;
      }
    }
  }

  .single-content {
    &__double-image {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__image-item {
      margin: 0 0 25px 0;
      &:last-child {
        margin: 0;
      }
    }
  }

}

@include media-breakpoint-down(sm) { // @media (max-width: 767.98px) { ... }

  .common-section  {
    padding: 25px 0;
  }

  .promo-video {
    &__video {
      width: 500px;
      height: auto;
    }
  }

  .main-events {
    .slider--main-slider {
      .slider__navigation {
        display: none;
      }
    }
  }

  .costumer-reviews {
    .slider--reviews_slider {
      .flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .slider {
        &__navigation {
          position: static;
          display: flex;
          order: 2;
          justify-content: center;
          height: auto;
          padding-top: 15px;
          button {
            position: static;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .our-clients {
    .slider--clients-slider {
      .slider {
        &__slide-wrapper {
          margin: 0;
        }
        &__slide {
          display: flex;
          justify-content: center;
        }
        &__next {
          right: 10px;
        }
        &__prev {
          left: 10px;
        }
      }
    }
  }

  .our-sponsors,
  .our-exhibitors,
  .our-speakers {
    &__selection {
      width: 95%;
      padding: 20px 0;
    }
  }

  .our-sponsors {
    &__list {
      padding: 0 15px;
    }
    .info-item {
      margin-left: 0;
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .main-footer {
    &__menu-item {
      &::after {
        display: none;
      }
    }
    &__header {
      &--twitter {
        text-align: center;
        margin-top: 25px;
      }
    }
  }

  .feedback {
    &__description {
      padding-top: 25px;
      align-items: center;
    }
  }

  .main-contacts {
    &__list-item {
      width: 100%;
    }
  }

  .single-content {
    &__text:not(:last-child) {
      margin-bottom: 15px;
    }
    &__main-image:not(:last-child) {
      margin-bottom: 20px;
    }
    &__part:not(:last-child) {
      margin-bottom: 30px;
    }
    &__double-image:not(:last-child) {
      margin-bottom: 20px;
    }
  }

}

@include media-breakpoint-down(xs) { // @media (max-width: 575.98px) { ... }

  .subscribe {
    width: 300px;
    padding: 15px 20px;
    &__form-header > * {
      margin-bottom: 15px;
    }
    &__close {
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      background-color: $golden-color;
    }
    input[type="text"] {
      padding: 10px 15px;
    }
  }
  .media-content {
    .info-item__image {
      height: auto;
    }
  }

  .main-header {
    .main-menu {
      &__list-item {
        padding: 10px 12px;
      }
      &__list-item:nth-child(n + 3) {
        .main-menu__submenu {
          left: auto;
          right: 0;
        }
      }
      &__submenu {
        min-width: auto;
        max-width: 200px;
        height: auto;
      }
      &__sublist-item {
        font-size: 13px;
        a {
          padding: 5px 10px;
        }
      }
    }
  }

  .costumer-reviews {
    .slider--reviews_slider {
      .response-slide {
        flex-direction: column;
        align-items: center;
        &__costumer-image {
          margin: 0 0 15px  0;
        }
        &__costumer-response {
          width: auto;
          &::before {
            display: none;
          }
        }
      }
    }
  }

  .promo-video {
    &__video {
      width: 300px;
    }
  }

  .our-clients {
    .slider--clients-slider {
      .slider {
        &__next {
          right: 30px;
        }
        &__prev {
          left: 30px;
        }
      }
    }
  }

  .feedback__form {
    .form-default {
      &__row-item {
        .register-form__label {
          width: 100% !important;
          margin-bottom: 20px;
          &:last-child,
          &:only-child {
            margin: 0;
          }
        }
      }
    }
  }

  .registration {
    .form-default {
      .btn-wrapper {
        label {
          font-size: 13px;
        }
      }
      &__row-item--payment {
        .register-form__radio-buttons {
          flex-direction: column;
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {

  .main-header {
    &__top-line {
      .main-menu {
        &__list-item {
          padding: 0;
          a {
            padding: 5px 10px;
          }
        }
      }
    }
  }

  .single-content {
    &__main-image {
      width: 300px;
      height: auto;
    }
    &__image-item {
      width: 300px;
      height: auto;
    }
  }

  .main-events {

    .slide-data {
      margin: 20px 0;
      padding: 0 !important;
      &__info-block {
        padding-left: 10px!important;
      }
    }

    .slider--main-slider {
      .slider {
          &__wrapper {
            min-height: 50vh !important;
          }
      }
    }
  }
}

// Mobile First:

@include media-breakpoint-up(xs) { // @media (min-width: 576px) { ... }

}

@include media-breakpoint-up(sm) { // @media (min-width: 768px) { ... }

}

@include media-breakpoint-up(md) { // @media (min-width: 992px) { ... }

}

@include media-breakpoint-up(lg) { // @media (min-width: 1200px) { ... }

}

@include media-breakpoint-up(xl) {

}