// Размеры шрифта и т.д.
$default-font-size: 14px;

// Bootstrap сетка
$grid-gutter-width: 20px;
$grid-columns: 12;

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 576px, md: 768px, lg: 992px, xl: 1240px);

