/**
  Стилизация блока (компонента) кнопка (button).
  =============================================
  Класс "button" описывает общие стили для всех
  кнопок, которые есть на сайте, с последующими
  их модификациями и видами в зависимости от их
  цвета, размера и расположения на сайте.
 */

@import "../vars";
@import "../extensions";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  border: none;
  font-family: "RobotoRegular", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  &--up {
    position: fixed;
    top: 650px;
    right: 20px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid $golden-color;
    border-radius: 3px;
    &::before {
      @extend %pseudo;
      @extend %common-sprite;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      margin-left: -11px;
      width: 22px;
      height: 8px;
      background-position: -75px 0;
    }
    &:hover {
      opacity: .7;
    }
  }
  &--light {
      color: $dark-color;
      background: #E8D8B6;
      &:hover {
        background: darken( #E8D8B6, 5% );
      }
    }
  &--dark { // кнопка "register now" в нижней части шапки
      background: $golden-color;
      &:hover {
        background: darken( $golden-color, 5%);
      }
    }
  &--info {
    margin: 25px 0 15px 0;
    font-size: 13px;
    text-transform: none;
    background: #D4C198;
    &:hover {
      background: darken(#D4C198, 5%);
    }
  }
  &--deep-dark {
    background: $dark-color;
    &:hover {
      background: darken($dark-color, 5%);
    }
  }
}