/**
  Стилизация блока (компонента) Инфо-блок (info-item).
  ==========================================================
  Класс .info-item и его вложенные элементы описывает все
  элементы информационных блоков на сайте. Модификации
  описаны тут же дя всех остальных блоков в зависимости
  от текущего его назначения. Некоторые другие модификации
  описаны в "main.scss".
 */

@import "../vars";
@import "../extensions";

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  &__type {
    margin-bottom: 20px;
    font-family: "RobotoRegular", sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: $golden-color;
  }
  &__title {
    display: block;
    margin: 25px 0;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-color;
    &:hover {
      text-decoration: underline;
      color: $golden-color;
    }
    &:active, &:visited {
      color: $dark-color;
    }
  }
  &__text {
    line-height: 1.3;
  }
  &__event-label {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 11px;
    color: #919191;
  }

  &--sponsor,
  &--exhibitor {
    width: 260px;
    .info-item {
      &__image {
        width: 100%;
        height: 160px;
        border-color: $golden-color;
      }
    }
  }

  &--speaker {
    .info-item {
      &__image {
        position: relative;
        width: 130px;
        height: 130px;
        border: 10px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 0 1px $golden-color;
      }
    }
  }

  &--media {
    .info-item {
      &__image {
        width: 100%;
        height: 215px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &--default {
    .info-item {
      &__image {
        min-width: 170px;
        min-height: 170px;
        border-radius: 50%;
        border-color: $golden-color;
      }
    }
  }

}