@media only screen and (max-width : 1200px) {
  .content-container {
    width: 960px;
  }
  .main-header {
    text-align: center;
    .top-line {
      padding-top: 20px;
      margin-bottom: 20px;
    }
    .logo, .main-menu {
      float: none;
    }
    .logo {
      margin-bottom: 20px;
      &-slogan {
        padding: 0;
      }
    }
    .main-menu {
      li {
        float: none;
        display: inline-block;
      }
    }
    .slider-wrapper {
      .slider-nav {
        .slide-prev {
          left: -10px;
        }
        .slide-next {
          right: -10px;
        }
      }
    }
  }
  .main-content {
    .info-items {
      .info-item {
        width: 45%;
        margin: 15px !important;
        .info-item-image {
          text-align: center !important;
        }
      }
    }
  }
}

@media only screen and (max-width : 990px) {
  .content-container {
    width: 760px;
  }
  .main-header {
    .slider-wrapper {
      .slider-nav {
        .slide-next {
          right: 35px;
        }
        .slide-prev {
          left: 35px;
        }
      }
    }
    .slider {
      .slide {
        padding: 25px 0;
        > div {
          display: block;
          text-align: center;
        }
      }
      .slide-description {
        padding: 0;
        margin: 0 0 15px 0;
      }
    }
  }
  .main-content {
    padding: 15px 0;
    .info-items {
      .info-item {
        display: block;
        float: none;
        width: 95%;
        margin: 10px 5px !important;
      }
    }
    .categories-items {
      .category-item {
        .ct-item-header {
          text-align: center;
        }
        .ct-item-header-image, .ct-item-header-text {
          float: none;
        }
        .ct-item-header-image {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .main-footer {
    .twitter-section {
      .twitter-icon {
        width: 48px;
        height: 48px;
      }
    }

    .subscribe-form-wrapper {
      input {
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width : 780px) {
  .content-container {
    width: 480px;
  }
  .main-header {
    .slider-wrapper {
      padding-bottom: 20px;
      .slider-nav {
        position: relative;
        bottom: 0;
        height: 40px;
        text-align: center;
        button {
          position: static;
          display: inline-block;
        }
      }
      .slider {
        .slide {
          padding-bottom: 0;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .main-content {
    .categories-items {
      padding: 20px 0;
      .category-item {
        float: none;
        width: 80%;
        margin: 0 auto 25px auto;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .main-footer {
    .twitter-section{
      .twitter-icon, .twitter-text-wrapper {
        float: none;
        width: 100%;
      }
      .twitter-icon {
        text-align: center !important;
        margin-bottom: 15px !important;
        margin-right: 0 !important;
        img {
          display: inline-block !important;
        }
      }
    }
    .subscribe-form-wrapper, .contact-form-wrapper {
      float: none !important;
      width: auto !important;
      text-align: left !important;
    }
    .subscribe-form-wrapper {
      margin-bottom: 25px;
    }
    .form-header {
      text-align: center !important;
    }
  }
}

@media only screen and (max-width : 500px) {
  .content-container {
    width: 320px;
  }

  .main-content {
    .product-info-wrapper {
      .product-info-header {
        .info-header-subtitle {
          float: none;
        }
      }
      .product-info {
        .product-info-description {
          .button {
            margin-bottom: 15px;
          }
        }
      }
    }
    .news-accordian-list {
      margin: auto;
      text-align: center;
    }
  }

}