@import "vars";
@import "fonts";
@import "../css/normalize.css";

@function em($font-size) {
	@return #{$font-size/$default-font-size}em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
}

body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: "ColaborateLight", sans-serif;
	font-size: $default-font-size;
	background: #fff;
	color: #828181;
}

a, a:hover, a:active {
	color: #fff;
	text-decoration: none;
}

// Расширения
%responsive-img {
	max-width: 100%;
}


%clear-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

%pseudo {
	content: '';
	position: absolute;
}

%clearfix::after {
	content: '';
	display: table;
	clear: both;
}

// вспомогательные классы
.text-align-right {
	text-align: right;
}

// Компоненты:
.content-container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 10px 15px;
	font-family: "ColaborateLight", sans-serif;
	font-size: em(14px);
	line-height: .6;
	text-decoration: none;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	&.btn-large {
		font-family: "ColaborateRegular", sans-serif;
		font-size: em(19px);
		line-height: .8;
		padding-left: 20px;
		padding-right: 20px;
	}
	&.btn-common {
		background: linear-gradient(to top, #174284 0%, #2D6AC1 100%);
		border: 1px solid #6e9ad8;
		color: #fff;
		&:hover {
			background: linear-gradient(to bottom, #174284 0%, #2D6AC1 100%);
		}
		&:active {
			background: #174284;
		}
	}
}

.iconed-list {
	@extend %clear-list;
	li {
		position: relative;
		display: block;
		&::before {
			@extend %pseudo;
			top: 3px;
			left: 0;
			width: 14px;
			height: 14px;
			background: url("../img/list_item_before_bg.png");
		}
	}
	a {
		color: #828181;
		&:hover {
			text-decoration: underline;
		}
	}
}

.slide-wrapper {
	float: left;
}

// Верстка элементов сайта:
.main-header {
	min-height: 540px;
	background: linear-gradient(to bottom, #1C1C2F 0%, #1F1F31 15%, #D8D9DC 100%);
	.top-line {
		@extend %clearfix;
		padding-top: 35px;
	}
	.logo {
		float: left;
		img {
			position: relative;
			top: 8px;
		}
		span {
			line-height: .7;
		}
		&-title {
			font-family: "FlareLightGothic", sans-serif;
			font-size: em(39px);
		}
		&-slogan {
			font-size: em(17px);
			padding-left: 40px;
		}
	}
	.main-menu {
		float: right;
		ul {
			@extend %clearfix;
			@extend %clear-list;
		}
		li {
			float: left;
		}
		a {
			display: block;
			padding: 5px 10px;
			border-radius: 3px;
			&:hover {
				color: #1B1B2E;
				background: #D2D2D6;
			}
		}
	}
	.slider-wrapper {
		position: relative;
		.slider-nav {
			position: absolute;
			bottom: 45%;
			width: 100%;
			height: 40px;
			button {
				position: absolute;
				z-index: 5;
				width: 40px;
				height: 39px;
				border: none;
				background: url("../img/header_slider_nav.png");
				cursor: pointer;
			}
			.slide-next {
				right: -35px;
				background-position: -40px 0;
			}
			.slide-prev {
				left: -35px;
			}
		}
	}
	.slider {
		overflow-x: hidden;
		.owl-dots, .owl-nav {
			display: none !important;
		}
		.slide {
			text-align: center;
			padding-top: 55px;
			> div {
				display: inline-block;
				vertical-align: top;
			}
			&-image img {
				@extend %responsive-img;
			}
			&-description {
				padding-top: 50px;
				margin-right: 40px;
				text-align: right;
				color: #e7e8ea;
				.slide-header {
					.slide-header-text {
						font-family: "Chunkfive", sans-serif;
						font-size: em(45px);
						text-transform: uppercase;
					}
					.slide-header-slogan {
						font-size: em(39px);
						span {
							&:first-child {
								font-family: "AlexandriaFLF", sans-serif;
							}
							&:last-child {
								font-family: "AlexandriaFLFBold", sans-serif;
							}
						}
					}
				}
				.slide-main-description {
					margin: 5px 0 15px 0;
					font-size: em(23px);
				}
			}
		}
	}
}

.main-content {
	background: linear-gradient(to bottom, #D8D9DC 0%, #E7E8EA 100%);
	padding-bottom: 35px;
	.info-items {
		@extend %clearfix;
		margin-bottom: 50px;
		.info-item {
			position: relative;
			float: left;
			width: 23%;
			margin-right: 2.5%;
			min-height: 145px;
			padding: 10px 20px;
			font-family: "Calibri", sans-serif;
			font-size: em(19px);
			color: #8c8c92;
			text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
			text-align: center;
			border-radius: 5px;
			border: 3px solid #fff;
			background: linear-gradient(to bottom, #FAFAFA 0%, #E3E2E2 100%);
			box-shadow: 0 0 3px 3px rgba(#323232, .11);
			.info-item-image, .info-item-text {
				display: block;
			}
			.info-item-image {
				img {
					@extend %responsive-img;
					height: 106px;
				}
			}
			.info-item-text{
				line-height: .7;
				text-align: center !important;
			}
			&:last-child {
				margin: 0;
			}
			&:hover {
				background: linear-gradient(to top, #FAFAFA 0%, #E3E2E2 100%);
			}
			&:active {
				background: #E3E2E2;
			}
		}
	}

	.categories-items {
		@extend %clearfix;
		padding: 20px 0 40px 0;
		.category-item {
			float: left;
			width: 28%;
			margin: 0 2.5%;
			color: #505050;
			.ct-item-header {
				@extend %clearfix;
				display: block;
				margin-bottom: 20px;
			}
			.ct-item-header-image, .ct-item-header-text {
				float: left;
			}
			.ct-item-header-image {
				margin-right: 10px;
				img {
					@extend %responsive-img;
				}
			}
			.ct-item-header-text {
				font-family: "ColaborateLight", sans-serif;
				line-height: .85;
				span {
					display: block;
				}
				.ct-header-title {
					font-size: em(25px);
					color: #505050;
				}
				.ct-header-subtitle {
					color: #5f7390;
				}
			}
			.ct-item-description {
				font-size: em(14px);
			}
		}
	}

	.news-slider-wrapper {
		position: relative;
		width: 75%;
		margin: 0 auto 45px auto;
		.news-slider-nav {
			position: absolute;
			top: 30%;
			z-index: 3;
			width: 100%;
			height: 26px;
		}
		button {
			position: absolute;
			width: 26px;
			height: 26px;
			background: url("../img/news_slider_nav.png");
			border: none;
			cursor: pointer;
			&.news-slide-prev {
				left: 0;
			}
			&.news-slide-next {
				right: 0;
				background-position: -25px 0;
			}
		}
	}
	.news-slider {
		@extend %clearfix;
		width: 100%;
		padding: 15px 50px;
		overflow-x: hidden;
		font-family: "ContraRegular", sans-serif;
		font-size: em(16px);
		border-top: 1px solid #DEDEE0;
		border-bottom: 1px solid #DEDEE0;
		background: linear-gradient(to right, #E0E1E3 0%, #ECEDEF 50%, #E0E1E3 100%);
		.owl-dots, .owl-nav {
			display: none !important;
		}
		a {
			color: #687b96;
			&:hover {
				text-decoration: underline;
			}
		}
		.slide {
			width: 100%;
			text-align: center;
		}
		.slide-wrapper {
			visibility: hidden;
			&.active {
				visibility: visible;
			}
		}
	}

  .product-info-wrapper {
    text-align: center;
		margin-bottom: 50px;
    .product-info-header {
      @extend %clearfix;
      position: relative;
      display: inline-block;
      .info-header-title {
        font-size: em(27px);
        color: #505050;
      }
      .info-header-subtitle {
        float: left;
        color: #5f7390;
      }
    }
    .product-info {
      @extend %clearfix;
      margin-top: 15px;
      padding: 0 25px;
      text-align: left;
      .product-info-image {
        float: left;
        margin-right: 35px;
        img {
          @extend %responsive-img;
        }
      }
      .product-info-description {
				float: left;
				.product-info-list {
					padding: 30px 0;
					ul {
						li {
							margin-bottom: 15px;
							padding-left: 25px;
							&::before {
								background-position: -15px 0;
							}
							&:last-child {
								margin: 0;
							}
						}
					}
				}
				.buttons-wrapper {
					padding-left: 25px;
				}
				.button {
					margin-right: 20px;
					&:last-child {
						margin: 0;
					}
				}
      }
    }
  }

	.news-accordian {
		.news-accordian-list {
			max-width: 85%;
			ul {
				li {
					padding: 10px 25px;
					border-top: 1px solid #DEDEE0;
					border-bottom: 1px solid #DEDEE0;
					&::before {
						top: 12px;
					}
				}
			}
		}
	}
}

.main-footer {
	min-height: 290px;
	background: linear-gradient(to left, #363647 0%, #373749 20%, #525268 50%, #373749 72%, #363647 100%);
	.main-footer-content {
		padding: 15px 5px 15px 25px;
	}
	.twitter-section {
		@extend %clearfix;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 15px;
		&::before {
			@extend %pseudo;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: linear-gradient(to left, #404053 0%, #515163 15%, #59596C 50%, #515163 85%, #404053 100%);
		}
		.twitter-subtitle {
			position: absolute;
			right: 0;
			bottom: 10px;
			font-size: $default-font-size;
			font-style: italic;
			color: #fff;
			opacity: .6;
		}
		.twitter-icon, .twitter-text-wrapper {
			float: left;
		}
		.twitter-icon {
			width: 64px;
			height: 64px;
			margin-right: 35px;
			a {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
			img {
				@extend %responsive-img;
			}
		}
		.twitter-text-wrapper {
			max-width: 87%;
			padding: 10px 0;
			font-family: "ContraRegular", sans-serif;
			font-size: em(13px);
			.twitter-text {
				color: #fff;
				opacity: .47;
				line-height: 1.6;
			}
		}
	}

	.forms-wrapper {
		@extend %clearfix;
		.form-header {
			text-align: left;
			margin-bottom: 15px;
			font-size: em(25px);
			color: #fff;
		}
		input, textarea {
			width: 210px;
			padding: 5px 10px;
			font-size: em(14px);
			background: #242439;
			border: none;
			border-radius: 5px;
			box-shadow: 0 1px 0 #4F4F5F, inset 0 2px 3px rgba(0, 0, 0, .25);
			color: rgba(255, 255, 255, .2);
		}
		button {
			line-height: .5;
		}
		.subscribe-form-wrapper {
			float: left;
			width: 38%;
			.subscribe-form {
				margin-bottom: 15px;
			}
			label {
				display: block;
			}
			.label-text {
				display: block;
				margin-bottom: 25px;
			}
			input {
				margin-right: 15px;
			}
		}
		.contact-form-wrapper {
			float: right;
			text-align: right;
			.form-body {
				@extend %clearfix;
				label {
					display: block;
					margin-bottom: 10px;
				}
				textarea {
					width: 200px;
					height: 100px;
					resize: none;
				}
			}
			.form-fields {
				float: left;
				margin-right: 10px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	
	.social-links {
		ul {
			@extend %clearfix;
			@extend %clear-list;
		}
		li {
			float: left;
			margin-right: 15px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

@import "media";