@media screen and (max-width: 1000px) {
	.main-page-wrapper {
		width: 100%;
	}
	.main-header {
		.top-line {
			text-align: center;
			ul, .user-panel {
				display: inline-block;
			}
		}
		.main-header-content {
			.callback-phone {
				text-align: center;
				span {
					margin-right: 15px;
				}
			}
		}
		.bottom-line {
			text-align: center;
			.bottom-menu {
				width: 100%;
				margin-bottom: 10px;
				text-align: center;
				ul {
					display: inline-block;
				}
				li:not(:last-child) {
					margin-right: 20px;
				}
			}
			.basket-wrapper {
				float: none;
				display: inline-block;
			}
		}
	}
	.order-content-wrapper {
		.order-form-group.order-comment {
			padding-bottom: 20px;
		}
	}
	.main-footer {
		.footer-menu-item {
			text-align: center;
			margin-bottom: 20px;
			.subscribe-form {
				text-align: center !important;
				label, button {
					float: none !important;
				}
			}
		}
		.footer-bottom-line {
			.copyright-text, .social-links {
				text-align: center;
			}
			.copyright-text {
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 760px) {
	body {
		&::before {
			display: none;
		}
	}
	.main-header {
		background: url("../img/top_bg.jpg");
		background-size: cover;
		.main-header-content {
			.logo {
				text-align: center;
				a {
					display: inline-block;
				}
			}
			.search-form-wrapper {
				text-align: center;
				form {
					display: inline-block;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.main-header {
		.bottom-line {
			padding: 10px 0;
			.bottom-menu {
				a {
					font-size: 13px;
				}
			}
		}
	}
}
@media screen and (max-width: 640px) {
	.half-width {
		width: 50%;
	}	
	.main-header {
		.top-line {
			.top-line-menu {
				text-align: left;
				padding-left: 30px;
			}
			li {
				margin: 0 0 10px 0;
				float: none;
			}
		}
		.main-header-content {
			.search-form-wrapper {
				width: 95%;
				label, input {
					width: 100%;
				}
			}
			.callback-phone {
				span {
					font-size: 20px !important;
				}
			}
		}
		.bottom-line {
			.bottom-menu {
				text-align: left;
				padding-left: 30px;
				li {
					float: none;
				}
			}
		}
	}
}

@media screen and (max-width: 430px) {
	.order-content-wrapper {
		.tabs-form {
			.tabs-buttons {
				.tab-button-item {
					float: none;
					margin-bottom: 15px;
					border: 1px dashed red;
					border-radius: 3px;
				}
			}
		}
		.order-form-group {
			label {
				width: 100%;
			}
		}
		.yandex-map-wrapper {
			width: 100% !important;
			height: 250px !important;
		}
	}
}